<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <p>I know how to play with these guys</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-laravel-plain colored"></i>
      <p>I have 3+ years with PHP, using the framework Laravel</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-photoshop-plain colored"></i>
      <i class="devicon-illustrator-plain colored"></i>
      <p>I also have design experience, over a decade playing with Adobe InDesign, Photoshop and Illustrator </p>
    </div>
  </div>
</div>
