<div class="container">
  <div class="user-details">
    <h3> About me </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">

    <div class="three columns">
      <h4>Design Tools</h4>
      <i class="devicon-photoshop-plain colored"></i>
      <i class="devicon-illustrator-plain colored"></i>
      <p>Since 2006 playing with Adobe InDesign, Photoshop and Illustrator.</p>
    </div>

    <div class="nine columns">
      <h4>Code Experience</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-plain colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-laravel-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <p>In 2015, I graduated and started to work as web developer, most of the time with PHP (Laravel), and Java (Spring Boot).</p>
    </div>
  </div>
</div>
