<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <p>I know who to play with these guys...</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-laravel-plain colored"></i>
      <p>PHP, via Laravel, is the laguague that I have more experience...</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-photoshop-plain colored"></i>
      <i class="devicon-illustrator-plain colored"></i>
      <p>... but work experience, I have a decade of Adobe Package :-D</p>
    </div>
  </div>
</div>
